@import "@styles/colors.scss";
@import "@styles/mixins.scss";

.board {
  @include setDisplay(flex, center, center, column);

  &-row {
    @include setDisplay();
    gap: clamp(5px, 1.5vw, 30px);

    &:nth-child(even) {
      .board-cell:nth-child(1) {
        opacity: 0;
      }
    }
  }

  &-cell {
    aspect-ratio: cos(30deg);
    height: clamp(30px, 6vw, 120px);
    position: relative;
    transition: 3s;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
      background-color: $cl-dark-gray;
      @include setTransition;
    }

    &-hovered::before {
      background-color: $cl-darker-gray !important;
    }

    &::after {
      content: "";
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      position: absolute;
      top: 50%;
      left: 50%;
      clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
      z-index: -9;
      transform: translate(-50%, -50%);
      background-color: $cl-dark-gray;
    }

    &.has-champion-tier {
      &-1::after {
        background-color: $cl-tier1;
      }
      &-2::after {
        background-color: $cl-tier2;
      }
      &-3::after {
        background-color: $cl-tier3;
      }
      &-4::after {
        background-color: $cl-tier4;
      }
      &-5::after {
        background-color: $cl-tier5;
      }
      &-6::after {
        background-color: $cl-tier6;
      }
    }

    &__items {
      @include setDisplay(flex, center, center, row);
      position: absolute;
      width: 100%;
      bottom: -4px;
    }
  }
}

@media (width <= 1200px) {
  .board {
    &-row {
      gap: clamp(5px, 2vw, 30px);
    }

    &-cell {
      height: clamp(30px, 9vw, 120px);
    }
  }
}

@media (width <= 997px) {
  .board {
    &-row {
      gap: clamp(5px, 1.75vw, 30px);
    }

    &-cell {
      height: clamp(30px, 7.5vw, 120px);
    }
  }
}

@media (width <= 768px) {
  .board {
    &-row {
      gap: clamp(5px, 2vw, 30px);
    }

    &-cell {
      height: clamp(30px, 7.5vw, 120px);
    }
  }
}

@media (width <= 576px) {
  .board {
    &-row {
      gap: clamp(5px, 3vw, 30px);
    }

    &-cell {
      height: clamp(30px, 9.5vw, 120px);
    }
  }
}
