@import "@styles/colors.scss";
@import "@styles/mixins.scss";

.team-panel {
  @include setDisplay(flex, start, start, row);
  border: 2px solid $cl-white-25;
  padding: 30px;
  gap: 2.5%;

  &__settings {
    @include setDisplay();
    width: 100%;

    &--items {
      flex-direction: column;
    }

    &-search-bar,
    &-sort-item {
      border-radius: 6px;
      border: 2px solid $cl-white-25;
      gap: 15px;
      padding: 6px 15px;
      text-align: center;
      color: $cl-gray;
      height: 40px;
    }

    &-search-bar {
      @include setDisplay();
      width: 70%;

      &--items {
        width: 100%;
      }

      input {
        appearance: none;
        background-color: transparent;
        border: 0;
        color: $cl-white;
        font-size: 14px;
        outline: none;
        width: 100%;
      }
    }

    &-sort {
      @include setDisplay(flex, center, space-between, row);
      width: 30%;

      &--items {
        width: 100%;
        border: 0;
      }

      &-item {
        background-color: transparent;
        width: 50%;
        @include setTransition();

        &--items {
          border: none;

          &--active {
            text-decoration: underline;
          }
        }

        &:hover {
          color: $cl-white;
        }

        &--active {
          color: $cl-white;
        }
      }
    }
  }

  &__champs {
    @include setDisplay(flex, start, start, column);
    width: 60%;
    gap: 15px;

    &-list {
      @include setDisplay(flex, start, center, row);
      gap: 15px;
      flex-wrap: wrap;
    }
  }

  &__items {
    @include setDisplay(flex, center, center, column);
    width: 37.5%;
    gap: 15px;

    &-half {
      @include setDisplay();
      gap: 15px;
    }

    &-full {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 15px;
      flex-wrap: wrap;
    }
  }
}

@media (width <= 1200px) {
  .team-panel {
    &__champs-list {
      gap: 10px;
    }

    &__items {
      &-half,
      &-full {
        gap: 10px;
      }
    }

    .item-card__items {
      &-half-item-icon {
        max-width: 20px;
        width: 20px;
      }

      &-full-item-icon {
        max-width: 30px;
        width: 30px;
      }
    }
  }
}

@media (width <= 992px) {
  .team-panel {
    flex-direction: column;
    gap: 60px;

    &__champs,
    &__items {
      width: 100%;
    }

    &__items .item-card__items {
      &-half-item-icon {
        max-width: 30px;
        width: 30px;
      }

      &-full-item-icon {
        max-width: 45px;
        width: 45px;
      }
    }
  }
}

@media (width <= 576px) {
  .team-panel {
    &__settings {
      flex-direction: column;
      width: 100%;

      &-search-bar,
      &-sort {
        width: 100%;
      }

      &-sort--items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }
    }

    &__champs-list .champion-card__champ-name {
      font-size: 14px;
    }

    &__items {
      &-half,
      &-full {
        gap: 5px;
      }

      .item-card__items {
        &-half-item-icon {
          max-width: 20px;
          width: 20px;
        }

        &-full-item-icon {
          max-width: 28px;
          width: 28px;
        }
      }
    }
  }
}
