@use "@styles/mixins.scss" as *;

.economy {
  @include setDisplay(flex, start, center, column);

  &-title {
    @include minHeight(86.25vh);
    & {
      @include setDisplay(flex, center, center, column);
      text-align: center;
    }

    p {
      width: 50%;
    }
  }

  &__container {
    width: 100%;
  }
}

@media (width <= 992px) {
  .economy-title p {
    width: 80%;
  }
}

@media (width <= 575px) {
  .economy-title p {
    width: 100%;
  }
}
