@use "@styles/mixins.scss" as *;

.champion-list {
  @include setDisplay(flex, start, start, column);
  width: 60%;
  gap: 15px;

  &__settings {
    @include setDisplay();
    width: 100%;
  }

  &__champs {
    @include setDisplay(flex, start, center, row);
    gap: 15px;
    flex-wrap: wrap;
  }

  @media (width <= 1200px) {
    &__champs {
      gap: 10px;
    }
  }

  @media (width <= 992px) {
    width: 100%;
  }

  @media (width <= 576px) {
    &__settings {
      flex-direction: column;
      width: 100%;

      &-search-bar,
      &-sort {
        width: 100%;
      }
    }

    &__champs {
      .champion-card__champ-name {
        font-size: 14px;
      }
    }
  }
}
