@use "@styles/colors.scss" as *;

.champion-card {
  &__onboard {
    position: relative;
    width: 100%;
    height: 100%;
    clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);

    &-icon {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border: 0 !important;
    }
  }

  &__champ {
    text-align: center;
    width: max-content;
    cursor: pointer;
    position: relative;

    &-icon {
      width: 60px;
    }

    &-name {
      width: 60px;
      font-size: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $cl-gray;
    }
  }
}
