@import "@styles/colors.scss";
@import "@styles/mixins.scss";

.sort-buttons {
  @include setDisplay(flex, center, space-between, row);
  width: 30%;

  &--items {
    width: 100%;
    border: 0;
  }

  &__item {
    background-color: transparent;
    width: 50%;
    border-radius: 6px;
    border: 2px solid $cl-white-25;
    gap: 15px;
    padding: 6px 15px;
    text-align: center;
    color: $cl-gray;
    height: 40px;
    @include setTransition();

    &--items {
      border: none;

      &--active {
        text-decoration: underline;
      }
    }

    &:hover {
      color: $cl-white;
    }

    &--active {
      color: $cl-white;
    }
  }

  @media (width <= 576px) {
    width: 100%;

    &--items {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
