@use "@styles/colors.scss" as *;
@use "@styles/mixins.scss" as *;

.sort-buttons {
  @include setDisplay(flex, center, space-between, row);
  width: 30%;

  &--items {
    width: 100%;
    border: 0;
  }

  &__item {
    @include setTransition();
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid $cl-white-25;
    color: $cl-gray;
    gap: 15px;
    height: 40px;
    padding: 6px 15px;
    text-align: center;
    width: 50%;

    &--items {
      border: none;

      &--active {
        text-decoration: underline;
      }
    }

    &:hover {
      color: $cl-white;
    }

    &--active {
      color: $cl-white;
    }
  }

  @media (width <= 576px) {
    width: 100%;

    &--items {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
