@use "@styles/colors.scss" as *;
@use "@styles/mixins.scss" as *;

.footer {
  @include setDisplay(flex, start, start, row);
  padding: 60px 0;

  .footer-content {
    align-items: start;
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    width: 100%;
  }

  .header {
    font-size: 24px;
    text-transform: uppercase;
  }

  &__logo {
    @include setDisplay(flex, center, center, column);
    gap: 30px;

    &-text-info {
      color: $cl-white-25;
      font-style: italic;
      font-size: 14px;
    }
  }

  &__t-container {
    @include setDisplay(flex, start, center, column);
    gap: 15px;

    &-link {
      text-decoration: none;
      color: $cl-gray;
      text-transform: capitalize;
    }
  }

  &__logo,
  &__t-container {
    @media (width <= 768px) {
      align-items: center;
      text-align: center;
    }
  }

  &__media {
    @include setDisplay(flex, end, space-between, column);

    gap: 15px;

    a {
      color: $cl-gray;
    }

    @media (width <=768px) {
      flex-direction: row;
      width: 100%;
      margin-top: 30px;
      flex-wrap: wrap;

      a {
        flex: 1 1 calc(33.33% - 10px);
        text-align: center;
      }
    }
  }

  @media (width <= 768px) {
    flex-direction: column;
  }
}
