@use "@styles/colors.scss" as *;
@use "@styles/mixins.scss" as *;

.modal {
  &-overlay {
    position: fixed;
    inset: 0px;
    background-color: $cl-b-blue-50;
    top: 0;
    left: 0;
  }

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $cl-b-blue !important;
    width: 60% !important;
    max-height: 90vh;
    border: 2px solid $cl-white-25 !important;
    border-radius: 6px !important;
    padding: 15px;

    &__header {
      @include setDisplay(flex, start, space-between, row);

      .header {
        font-size: 20px !important;
      }
    }

    &__container {
      @include setDisplay(flex, start, center, row);
      overflow: hidden scroll;
      gap: 15px;
      padding: 15px;
      flex-wrap: wrap;

      &::-webkit-scrollbar {
        width: 4px;

        &-thumb {
          border-radius: 6px;
          background-color: $cl-white-25;
        }
      }

      .augment-option {
        @include setDisplay(flex, center, center, column);
        @include setTransition();
        text-align: center;
        gap: 5px;
        width: 65px;

        &__image,
        &__name {
          width: auto;
        }

        &__image {
          width: 60px;
          border-radius: 6px;
        }

        &__name {
          font-size: 12px;
        }

        &:hover {
          @include setScale();
        }
      }
    }

    @media (width <= 1200px) {
      width: 80% !important;
    }

    @media (width <= 768px) {
      width: 95% !important;
    }
  }

  &__search-bar {
    @include setDisplay();
    width: 100%;
    border-radius: 6px;
    border: 2px solid $cl-white-25;
    gap: 15px;
    padding: 6px 15px;
    text-align: center;
    color: $cl-gray;
    height: 40px;

    input {
      appearance: none;
      background-color: transparent;
      border: 0;
      color: $cl-white;
      font-size: 14px;
      outline: none;
      width: 100%;
    }
  }

  &-close-btn {
    @include setTransition();
    font-size: 24px !important;
    color: $cl-white-25;
    rotate: 45deg;

    &:hover {
      color: $cl-white;
    }
  }
}
